// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("ttf"),
    url("../fonts/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("ttf"),
    url("../fonts/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

$bgColor: #fff8ea;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;

  @media (min-width: 2000px) {
    font-size: 0.78125vw;
  }
}

body {
  font-size: 1rem;
  margin: 0;
  background-color: $bgColor;
  color: #2b2a29;
  font-family: "Raleway";
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-style: normal;

  &.active {
    touch-action: none;
    -ms-touch-action: none;
    overflow: hidden;
    position: relative;
  }
}

.container {
  padding: 3rem 2rem 2rem 2rem;
  max-width: 80rem;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
}

a {
  color: #2b2a29;
  text-decoration: none;
}

p {
  font-size: 1rem;
  color: #2b2a29;
  margin-bottom: 1rem;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.05rem;
  color: #2b2a29;
}

h1,
.h1 {
  font-size: 1.75rem;

  @media (min-width: 768px) {
    font-size: 2.25rem;
  }
}

h2,
.h2 {
  font-size: 1.25rem;

  @media (min-width: 768px) {
    font-size: 1.375rem;
  }
}

h3,
.h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: $bgColor;
  max-width: 100%;
  word-wrap: break-word;
  line-height: 2rem;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 1.375rem;
  }
}

h4,
.h4 {
  font-size: 1rem;
  text-transform: uppercase;
  color: $bgColor;
  max-width: 100%;
  word-wrap: break-word;
  line-height: 2rem;
  text-align: center;
}

img,
picture {
  width: 100%;
  height: auto;
  display: block;
}

.small {
  font-size: 0.8rem;
}

.big {
  font-size: 1.2rem;
}

.bold {
  font-weight: 700;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 2;

  &-wrapper {
    padding: 2rem;
    display: flex;
    justify-content: space-between;

    a {
      font-size: 1.25rem;
      display: inline-block;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 0.063rem;
        bottom: -0.05rem;
        left: 0;
        background-color: #2b2a29;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

    &__logo {
      width: 5rem;
      padding: 0.5rem;
      background-color: $bgColor;
      border-radius: 0.5rem;
      z-index: 2;
      transition: width 0.3s ease, padding 0.3s ease;
      border: 0.063rem solid #2b2a29;

      @media (min-width: $md) {
        width: 6rem;
      }

      a:after {
        content: none;
      }

      @media (min-width: 768px) {
        &:hover {
          padding: 0.75rem;
          width: 7rem;
        }
      }
    }

    &__toggle {
      background-color: $bgColor;
      height: fit-content;
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 0.5rem;
      z-index: 2;
      border: 0.063rem solid #2b2a29;

      @media (min-width: 576px) {
        display: none;
      }

      &__line {
        background-color: #2b2a29;
        width: 2rem;
        height: 0.063rem;
        margin: 0.5rem;
        transition: opacity 0.3s ease, transform 0.3s ease;
      }

      &.active {
        .nav-wrapper__toggle__line {
          &:first-of-type {
            transform: translate(0rem, 0.5rem) rotate(45deg);
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:last-of-type {
            transform: translate(0rem, -0.6rem) rotate(-45deg);
          }
        }
      }
    }

    &__list {
      position: absolute;
      width: 100%;
      opacity: 1;
      height: 100vh;
      left: 0;
      top: 0;
      margin: 0;
      opacity: 0;
      background-color: $bgColor;
      padding: 10rem 0;
      text-align: center;
      pointer-events: none;
      transition: opacity 0.3s ease, padding 0.3s ease;
      border: 0.063rem solid #2b2a29;

      li {
        padding: 1rem;

        @media (min-width: 576px) {
          padding: 0;
        }
      }

      &.active {
        opacity: 1;
        pointer-events: all;
      }

      @media (min-width: 576px) {
        display: flex;
        gap: 2.5rem;
        align-items: flex-start;
        padding: 1rem 2rem;
        height: fit-content;
        border-radius: 0.5rem;
        opacity: 1;
        pointer-events: all;
        position: relative;
        width: auto;
        text-align: left;
      }
      @media (min-width: 768px) {
        &:hover {
          padding: 1.5rem 3rem;
        }
      }
    }
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  h2,
  h3 {
    color: #fff8ea;
    display: flex;
    column-gap: 2rem;
    row-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.header {
  display: flex;
  flex-direction: column;
  padding-top: 0.75rem;

  @media (min-width: $md) {
    height: 100vw;
  }

  @media (min-width: $lg) {
    height: auto;
  }

  &-left {
    margin-bottom: 0.5rem;
    display: none;

    @media (min-width: $md) {
      display: block;
    }

    img {
      object-fit: cover;
      object-position: top;
    }
  }

  &-right {
    &::-webkit-scrollbar {
      display: none;
    }

    &__img {
      margin-bottom: 0.5rem;
      position: relative;

      &:first-child {
        height: 25vh;
        min-height: 18.75rem;

        @media (min-width: $md) {
          height: auto;
        }

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      &:hover {
        .overlay {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
    &__section {
      margin: 2rem;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem;
      margin-bottom: 2rem;

      &__wrapper {
        overflow: hidden;
        position: relative;

        &:hover {
          .overlay {
            background-color: rgba(0, 0, 0, 0.5);
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    column-gap: 0.75rem;

    &-left,
    &-right {
      flex: 1;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        max-height: 100vh;
        object-fit: cover;
      }
    }

    &-left {
      margin-bottom: 0;

      img {
        height: 100%;
      }
    }

    &-right {
      overflow-y: scroll;
      max-height: 100vh;
    }
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding-top: calc(2rem + 8vw);
  padding-bottom: calc(2rem + 8vw);

  &:not(.header):not(.hero):first-of-type,
  &:not(.hero):first-of-type {
    padding-top: 10rem;
  }

  &.hero {
    padding-top: 0;
    padding-bottom: 0;

    @media (min-width: $xxl) {
      height: 100vh;

      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
      }
    }
  }
}

// Gallery
.gallery {
  row-gap: 3rem;
  margin-top: 2rem;

  h2 {
    margin-bottom: -1.5rem;
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  // &__product {
  //   position: relative;
  //   cursor: pointer;
  //   user-select: none;

  //   .productImages {
  //     display: none;
  //     visibility: hidden;
  //     opacity: 0;
  //     pointer-events: none;
  //   }

  //   img {
  //     height: 100%;
  //     object-fit: cover;
  //     transition: opacity 0.3s ease-in-out;
  //     pointer-events: none;

  //     &:last-of-type {
  //       position: absolute;
  //       top: 0;
  //       width: calc(100% - 1.5rem);
  //       opacity: 0;
  //     }
  //   }

  //   @media (min-width: $lg) {
  //     &:hover {
  //       img {
  //         &:first-of-type {
  //           opacity: 0;
  //         }

  //         &:last-of-type {
  //           opacity: 1;
  //         }
  //       }
  //     }
  //   }
  // }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: all;
    z-index: 3;
  }

  .mainSwiper {
    height: 50vh;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .paginationSwiper {
    margin-top: 1rem;
    height: 20vh;

    .swiper-slide {
      cursor: pointer;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgb(0, 0, 0, 0.3);
        transition: background-color 0.3s ease-in-out;
      }

      &-thumb-active::after,
      &:hover::after {
        background-color: rgb(0, 0, 0, 0);
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
    }
  }
}

// Footer

.footer {
  &-top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 2rem 2rem 2rem;
    max-width: 80rem;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &::before {
      display: block;
      content: "";
      position: absolute;
      height: 0.063rem;
      width: calc(100% - 4rem);
      background-color: #2b2a29;
      top: 0;
      left: 2rem;
    }

    @media (min-width: 576px) {
      flex-direction: row;
      align-items: center;
    }

    &__logo {
      width: 5rem;

      @media (min-width: $md) {
        width: 6rem;
      }
    }

    &__contact {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      span {
        text-transform: uppercase;
        font-size: 0.875rem;
        letter-spacing: 0.125rem;
      }

      a {
        position: relative;
        font-size: 1.25rem;

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 0.063rem;
          bottom: -0.05rem;
          left: 0;
          background-color: #2b2a29;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        &:hover:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }

    &__content {
      font-size: 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
      row-gap: 1rem;

      a {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 0.063rem;
          bottom: -0.05rem;
          left: 0;
          background-color: #2b2a29;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        &:hover:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }

      @media (min-width: 576px) {
        display: flex;
        gap: 1rem;
      }

      @media (min-width: 768px) {
        font-size: 1.2rem;
      }
    }
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem 5rem 2rem;
    max-width: 80rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 576px) {
      flex-direction: row;
    }

    iframe {
      width: 100%;
      margin-top: 1rem;
    }

    &__left,
    &__right {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

// About us

.about {
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  &-container {
    padding: 3rem 2rem 2rem 2rem;
    max-width: 80rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    h1 {
      margin-bottom: 1.5rem;
      font-size: 2.5rem;

      @media (min-width: 576px) {
        font-size: 3rem;
      }
    }

    p:first-of-type {
      margin-top: 3rem;
    }

    &__detail {
      padding: 2rem 0;
      text-align: center;

      p {
        margin-top: 0 !important;
      }

      img {
        width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        @media (min-width: 576px) {
          width: 20rem;
          min-width: 50%;
        }
      }
    }

    &__pozdrav {
      margin-top: 3rem;
    }
  }
}
